name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        browser: [chromium, firefox]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Update Brew (macOS)
        if: matrix.os == 'macOS-latest'
        run: brew update

      - name: Install Dependencies
        run: yarn bootstrap

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Run Tests
        run: yarn test --browser.name=$BROWSER --browser.headless
        env:
          BROWSER: ${{ matrix.browser }}

      - name: Codecov
        uses: codecov/codecov-action@v1

      - name: Build Project
        run: yarn build
